.icon{
  background: url(images/icon.png) no-repeat;
  background-position: 50px 50px;
}

.icon-home{
  background-position: 0 0;
}

.icon-view{
  background-position: -40px 0;
}

.icon-resource{
  background-position: -80px 0;
}


